<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Twitter Search</a>
  <%= form_tag(root_path, :method => "get", class: "form-inline") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search tweets", class: "form-control mr-sm-2", type: "search" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success my-2 my-sm-0", type: "submit" %>
  <% end %>
</nav>
<br>